---
import { getCollection, getEntries } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import FormatterDate from '../components/FormatterDate.astro';
import CardBlog from './CardBlog.astro';
import { Image } from 'astro:assets';
import CategorySelector from './CategorySelector.astro';
import SearchInput from './SearchInput.astro';
import LastPostCard from './LastPostCard.astro';
import type { BlogPost } from '../types'; // Ajusta la ruta según tu estructura

// Props tipados con BlogPost
interface Props extends BlogPost {}

const { title, description, keywords, image, pubDate, author, relatedPosts } =
  Astro.props;

// Convertir relatedPosts (string[]) a formato { collection, id }[]
const relatedEntries = relatedPosts.map((id) => ({
  collection: 'blog' as const,
  id,
}));
const relations = await getEntries(relatedEntries);

const keyword = keywords.join(', ');
---

<Layout
  title={title}
  description={description}
  keywords={keyword}
  robot="index, follow"
>
  <div
    transition:name={title}
    class="flex flex-col md:flex-row max-w-6xl m-auto mt-8 relative"
  >
    <div class="flex px-8 w-full md:w-2/3">
      <Image
        class="rounded-lg"
        src={image.url}
        alt={image.alt}
        height={520}
        width={1020}
      />
      <div class="flex text-sm">
        <span class="flex gap-4 my-4">
          <p>{author}</p>
          <FormatterDate date={pubDate} />
        </span>
      </div>
      <div class="prose mb-4">
        <slot />
      </div>
    </div>
    <div class="flex px-3 w-full md:w-1/3">
      <div class="md:sticky top-12 w-full h-fit">
        <!-- <SearchInput /> -->
        <h5>Puedes consultar nuestros últimas noticias</h5>
        <LastPostCard />
        <CategorySelector />
      </div>
    </div>
  </div>
  <div class="flex max-w-6xl flex-col m-auto my-10">
    <h2 class="font-libre text-center text-3xl mb-8">
      También te puede gustar:
    </h2>
    <div class="flex gap-4 md:flex-row flex-col m-auto px-2">
      {
        relations.map((relation) => (
          <CardBlog {...relation.data} slug={relation.id} /> // Cambia slug a id
        ))
      }
    </div>
  </div>
</Layout>
