---
import { getLastPost } from "../utils/getAllCategories";
const lastpost = await getLastPost();
---

{lastpost.map(post => (

    <a href={`/blog/${post.slug}`} class="flex my-2 bg-light-accent1  dark:bg-dark-accent1 rounded-lg" transition:name={post.data.title}>
    <div class="h-20 w-20 overflow-hidden">
      <img class="h-full w-full object-cover rounded-s-lg" src={post.data.image.url} alt={post.data.image.alt} />
    </div>
    <div class="flex px-1 w-80">
      <p class="text-sm font-lato" >{post.data.title}</p>
      
    </div>
    </a>

))}
