---
import Layout from "../../layouts/Layout.astro"
import HeroPage from '../../components/HeroPage.astro'
import TxtLImgR from "../../components/txtL-imgR.astro"
import Card from "../../components/Card.astro"
import "../../animations.css"
import FlowWork from "../../components/FlowWork.astro"
import PriceCard from "../../components/PriceCard.astro"
import CardRequisitos from "../../components/CardRequisitos.astro"
import HorizontalCardLefth from "../../components/HorizontalCardLefth.astro"
import HorizontalCardRigth from "../../components/HorizontalCardRigth.astro"

import consultoria from "../../lib/data/Consultoria.json"
import {type MetaDataServices} from "../../lib/type/MetadataServices"



const {infoServicePage} = consultoria as unknown as MetaDataServices


---

<Layout title={infoServicePage.pageMeta.title} description={infoServicePage.pageMeta.description} keywords={infoServicePage.pageMeta.keywords} >
    <main class="max-w-5xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
       <HeroPage title={infoServicePage.name} urlImg="/img/heropage/consulta.webp" />
        <section class="mb-8">
            <TxtLImgR title="Descripción del Servicio"
            img="/img/contenPages/VerticalConsult.webp"
            altS="Consultoria Web"
            >

            <p class="mb-4 animate-fade-in">
                Imagina un portal digital que no solo representa tu negocio, sino que lo transforma y lo lleva a nuevas alturas. Este portal existe y se llama Consultoría Web.
              </p>
              
              <h3 class="mb-4 animate-fade-in">¿Qué es una Consultoría Web?</h3>
              
              <p class="mb-4 animate-fade-in">
                Una consultoría web es mucho más que un análisis superficial de tu presencia en línea; es un enfoque estratégico para optimizar y mejorar cada aspecto de tu sitio web. Nuestro objetivo es ayudarte a identificar y abordar áreas críticas para que tu plataforma digital funcione de manera óptima, sea segura y esté alineada con tus objetivos comerciales.
              </p>
              
              <p class="mb-4 animate-fade-in">
                En Desarrollo Digital, nos especializamos en ofrecer una visión profunda y detallada de tu sitio web, proporcionando recomendaciones específicas para mejorar su rendimiento, seguridad y efectividad. Evaluamos desde la infraestructura técnica hasta el contenido y la experiencia del usuario, asegurándonos de que tu sitio no solo cumpla con los estándares actuales, sino que también se adapte a las necesidades y expectativas de tus usuarios.
              </p>
              
              <p class="mb-4 animate-fade-in">
                En un entorno digital en constante cambio, tu sitio web necesita estar siempre a la vanguardia. Una consultoría web eficaz es clave para mantenerse competitivo, resolver problemas existentes y prepararse para el futuro. Nuestro enfoque integral asegura que cada aspecto de tu sitio web esté en su mejor forma, ayudándote a alcanzar tus metas y a superar las expectativas de tus usuarios.
              </p>
              
              <div class="flex items-center justify-center mt-16">
                <Card
                  title="¿Para Quién es Nuestro Servicio de Consultoría Web?"
                  body="Nuestro servicio de consultoría web está dirigido a empresas y organizaciones que desean optimizar su presencia digital. Desde la evaluación de la infraestructura técnica hasta la revisión del contenido y la experiencia del usuario, nuestra consultoría está diseñada para ayudar a negocios de todos los tamaños a mejorar su rendimiento en línea. Ya sea que estés enfrentando problemas técnicos, buscando mejorar la seguridad o simplemente deseando una revisión exhaustiva de tu sitio web, en Desarrollo Digital te ofrecemos las soluciones y recomendaciones que necesitas para llevar tu sitio web al siguiente nivel."
                />
              </div>
              
        
        
        </TxtLImgR>
            
        </section>


        <section class="mb-8 ">
            <h2 class="text-4xl text-center font-libre my-8">Información importante</h2>
            <h3 class="text-3xl text-center font-libre my-8">Requisitos</h3>
              <div class="flex flex-col gap-2">
                {infoServicePage.requerimientos.map((requerimiento) => {
                    
                    return requerimiento.imagePosition === 'right' ? (
                      <HorizontalCardRigth 
                      
                        title={requerimiento.title}
                        description={requerimiento.description}
                        img={requerimiento.img}
                      />
                    ) : (
                      <HorizontalCardLefth 
                       
                        title={requerimiento.title}
                        description={requerimiento.description}
                        img={requerimiento.img}
                      />
                    );
                  })}
                  
                  <p class="my-4 text-center md:text-start font-normal text-gray-500 dark:text-gray-400">
                      Si no cumples con alguno de estos requisitos, no te preocupes. En Desarrollo Digital, podemos encargarnos de todo con alguno de nuestros planes personalizados. 
                  </p>
                  <p class="my-4 text-center md:text-start font-normal text-gray-500 dark:text-gray-400">
                      ¡Contáctanos para conocer más sobre cómo podemos apoyarte en cada paso del camino!
                  </p>
              </div>

        </section>
        <section>
            <h2 class="text-4xl text-center font-libre my-8">Flujo de Trabajo</h2>
             <FlowWork pasos={infoServicePage.pasos} />
        </section>

       
<section class="mt-8">
  
       
</section>
    
        <section class="text-center mt-10">
            <h3 class="text-2xl font-semibold mb-4">¿Listo para comenzar?</h3>
            <p class="mb-6">¡Hablemos sobre tu proyecto y cómo podemos ayudarte a alcanzar tus objetivos de marketing!</p>
        </section>

        <section class="flex flex-col md:flex-row justify-around">
            {
              infoServicePage.products.map((producto) => (
                <div class="p-2">
                <PriceCard 
                  nombre={producto.name} 
                  costo={producto.cost.toString()} 
                  servicios={producto.features.map((feature) => ({
                    descripcion: feature.description,
                    activo: feature.active
                  }))}
                />
                </div>
              ))
            }
          </section>
    </main>
</Layout>